@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: black;
}

:root{
    height: 100%;
}

pre {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

.ql-editor img {
    width: 400px;
    /* Максимальная ширина изображений равна ширине контейнера редактора */
    /* Автоматическая высота для сохранения пропорций */
}
.ql-editor{
font-size: 18px;
}